body{
    background-color: #f8e8a6;
    padding: 0 30px;
}

h1, p{
    text-align: center;
}

.link-container a{
    color: green;
    padding: 0 10px;
}

.link-container{
    text-align: center;
}

img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
